.Meaning {
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0px 5px 5px rgba(23, 74, 83, 0.15);
}

.Meaning h4 {
  font-size: 24px;
  font-weight: bold;
  font-style: oblique;
  color: rgba(23, 74, 83, 0.75);
}

.Meaning p {
  margin-bottom: 20px;
}
